<div class="container">
    <h1>Novo cartão</h1>

    <form action="/cards/new" method="POST" accept-charset="utf-8">
        <!-- Name Input -->
        <div class="form-group">
            <label for="name">Nome: </label>
            <input id="name" name="name" class="form-control" type="text" required/>
        </div>
        <!-- Description Textarea -->
        <div class="form-group">
            <label for="description">Descrição: </label>
            <textarea id="description" name="description" class="form-control" cols="5" rows="10"></textarea>
        </div>
        <!-- List-id Input Hidden -->
        <input id="_list" name="_list" type="text" value="{{ list }}" hidden/>

        <button class="btn btn-success">Inserir</button>
    </form>

</div>
