<div class="container">
    <h2>{{ list.name }}</h2>
    <p>{{ list.description }}</p>

    <div class="card m-5">
        <div class="card-body">Cards</div>
        <div class="card-footer">
            <a href="/lists/destroy/{{ list.id }}" class="btn btn-danger">Excluir</a>
        </div>
    </div>

</div>
