<div class="container">
    <h1>Nova lista</h1>

    <form action="/lists/new" method="POST" accept-charset="utf-8">
        <!-- Name Input -->
        <div class="form-group">
            <label for="name">Nome: </label>
            <input id="name" name="name" class="form-control" type="text" required/>
        </div>
        <!-- Description Textarea -->
        <div class="form-group">
            <label for="description">Descrição: </label>
            <textarea id="description" name="description" class="form-control" cols="5" rows="10"></textarea>
        </div>

        <button class="btn btn-success float-right">Inserir</button>
    </form>

</div>
